.pl-ico.xback {
  background-position: -1168px -250px;
  width: 22px;
  height: 40px;
}
.pl-ico.xbanner {
  background-position: 0px 0px;
  width: 1200px;
  height: 240px;
}
.pl-ico.xcar {
  background-position: -931px -312px;
  width: 46px;
  height: 42px;
}
.pl-ico.xcar.xactive {
  background-position: -1053px -250px;
  width: 49px;
  height: 42px;
}
.pl-ico.xes {
  background-position: -443px -250px;
  width: 112px;
  height: 112px;
}
.pl-ico.xgpm {
  background-position: -565px -250px;
  width: 112px;
  height: 112px;
}
.pl-ico.xgpr {
  background-position: -687px -250px;
  width: 112px;
  height: 112px;
}
.pl-ico.xhome {
  background-position: -1139px -312px;
  width: 36px;
  height: 42px;
}
.pl-ico.xhome.xactive {
  background-position: -987px -312px;
  width: 42px;
  height: 42px;
}
.pl-ico.xlogo {
  background-position: -993px -250px;
  width: 50px;
  height: 43px;
}
.pl-ico.xme {
  background-position: -1039px -312px;
  width: 40px;
  height: 42px;
}
.pl-ico.xme.xactive {
  background-position: -1112px -250px;
  width: 46px;
  height: 42px;
}
.pl-ico.xmore {
  background-position: -321px -372px;
  width: 16px;
  height: 28px;
}
.pl-ico.xnodata {
  background-position: -166px -250px;
  width: 145px;
  height: 151px;
}
.pl-ico.xnotice {
  background-position: -931px -250px;
  width: 52px;
  height: 52px;
}
.pl-ico.xtestpaper {
  background-position: 0px -413px;
  width: 34px;
  height: 42px;
}
.pl-ico.xtestpaper.xactive {
  background-position: -1089px -312px;
  width: 40px;
  height: 42px;
}
.pl-ico.xtpdel {
  background-position: 0px -250px;
  width: 156px;
  height: 153px;
}
.pl-ico.xtpdown {
  background-position: -809px -250px;
  width: 112px;
  height: 112px;
}
.pl-ico.xtps {
  background-position: -321px -250px;
  width: 112px;
  height: 112px;
}
