.is-selected .pl-ico.xcar {
  width: 1.225rem;
  height: 1.05rem;
  background-position: -25.225rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.is-selected .pl-ico.xhome {
  width: 1.05rem;
  height: 1.05rem;
  background-position: -22.175rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.is-selected .pl-ico.xme {
  width: 1.15rem;
  height: 1.05rem;
  background-position: -28.1rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.is-selected .pl-ico.xtestpaper {
  width: 1rem;
  height: 1.05rem;
  background-position: -24.725rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xback {
  width: 0.55rem;
  height: 1rem;
  background-position: -28.225rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xbanner {
  width: 30rem;
  height: 6rem;
  background-position: -0rem -0rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xcar {
  width: 1.15rem;
  height: 1.05rem;
  background-position: -26.7rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xes {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -3.875rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xgpm {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -6.925rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xgpr {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -9.975rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xhome {
  width: 0.9rem;
  height: 1.05rem;
  background-position: -25.975rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xlogo {
  width: 1.25rem;
  height: 1.075rem;
  background-position: -23.725rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xme {
  width: 1rem;
  height: 1.05rem;
  background-position: -23.475rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xmore {
  width: 0.4rem;
  height: 0.7rem;
  background-position: -29.5rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xnodata {
  width: 3.625rem;
  height: 3.775rem;
  background-position: -0rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xnotice {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -22.175rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xtestpaper {
  width: 0.85rem;
  height: 1.05rem;
  background-position: -27.125rem -7.8rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xtpdel {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -16.075rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xtpdown {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -13.025rem -6.25rem;
  background-size: 30rem 10.025rem;
}
.pl-ico.xtps {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -19.125rem -6.25rem;
  background-size: 30rem 10.025rem;
}
