.is-selected .pl-ico.xcar {
  width: 1.225rem;
  height: 1.05rem;
  background-position: -17.35rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.is-selected .pl-ico.xhome {
  width: 1.05rem;
  height: 1.05rem;
  background-position: -21.625rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.is-selected .pl-ico.xme {
  width: 1.15rem;
  height: 1.05rem;
  background-position: -18.825rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.is-selected .pl-ico.xtestpaper {
  width: 1rem;
  height: 1.05rem;
  background-position: -24.175rem -10.275rem;
  background-size: 30rem 15.525rem;
}
a.xopen > .pl-ico.xcaret {
  width: 0.5rem;
  height: 0.3rem;
  background-position: -5.275rem -9.3rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xback {
  width: 0.55rem;
  height: 1rem;
  background-position: -0rem -14.525rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xbanner {
  width: 30rem;
  height: 6rem;
  background-position: -0rem -0rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcar {
  width: 1.15rem;
  height: 1.05rem;
  background-position: -20.225rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcaret {
  width: 0.5rem;
  height: 0.3rem;
  background-position: -4.525rem -9.3rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcollapse {
  width: 0.9rem;
  height: 0.9rem;
  background-position: -19.7rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcollapse.xopen {
  width: 0.9rem;
  height: 0.9rem;
  background-position: -18.55rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcollapse2 {
  width: 0.75rem;
  height: 0.75rem;
  background-position: -21.85rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcollapse2.xopen {
  width: 0.75rem;
  height: 0.75rem;
  background-position: -20.85rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcover-cloud {
  width: 3rem;
  height: 4rem;
  background-position: -0rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcover-person {
  width: 3rem;
  height: 4rem;
  background-position: -3.25rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xcover-school {
  width: 3rem;
  height: 4rem;
  background-position: -6.5rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xec {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -19.125rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xenter {
  width: 0.5rem;
  height: 0.85rem;
  background-position: -9.75rem -13.325rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xes {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -25.225rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xgpm {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -9.75rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xgpr {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -12.8rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xhome {
  width: 0.9rem;
  height: 1.05rem;
  background-position: -25.425rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xlogo {
  width: 1.25rem;
  height: 1.075rem;
  background-position: -15.85rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xme {
  width: 1rem;
  height: 1.05rem;
  background-position: -22.925rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xmex {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -22.175rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xmn {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -16.075rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xmore {
  width: 0.4rem;
  height: 0.7rem;
  background-position: -3.875rem -9.3rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xmp {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -13.025rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xnodata {
  width: 3.625rem;
  height: 3.775rem;
  background-position: -0rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xnotice {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -28.275rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xpaper {
  width: 1.2rem;
  height: 1.2rem;
  background-position: -28.275rem -7.8rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xsearch1 {
  width: 0.9rem;
  height: 0.9rem;
  background-position: -28.825rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xsearch2 {
  width: 0.9rem;
  height: 0.9rem;
  background-position: -27.675rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xselect {
  width: 1.1rem;
  height: 1.1rem;
  background-position: -17.2rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xselect.xselected {
  width: 1.1rem;
  height: 1.1rem;
  background-position: -15.85rem -11.6rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xtestpaper {
  width: 0.85rem;
  height: 1.05rem;
  background-position: -26.575rem -10.275rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xtpdel {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -9.975rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xtpdown {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -6.925rem -6.25rem;
  background-size: 30rem 15.525rem;
}
.pl-ico.xtps {
  width: 2.8rem;
  height: 2.8rem;
  background-position: -3.875rem -6.25rem;
  background-size: 30rem 15.525rem;
}
